.main {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

.footer {
  position: relative;
  justify-content: center;
  vertical-align: middle;
}

.image {
  position: relative;
  top: -100px;
  width: 25%;
  height: 30%;
  left: 37.5%;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
  padding-bottom: 20%;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
  padding-top: ;
}

.container {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: rgba(2,184,110,255);
  border: none;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding: 20px;
  width: 200px;
  left: 200%;
  cursor: pointer;

}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}